<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instagram</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'photos/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  Intagram

  <a class="btn btn-primary" href="{% url "create_photo" %}" />Add photo</a>

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      {{ message }}
      <hr>
      <p class="mb-0">Votre publication sera validée sous peu.</p>
      <button type="button" class="close" data-dismiss="success" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  {% endif %}

  {% for photo in photo_list %}
    <div class="card" style="width: 400px; margin-bottom: 20px;">
      <img src="{{ photo.content.url }}" alt="" width="380" style="margin: auto">
      <div class="card-body">
        <h5 class="card-title" style="height: 20px"><span style="float:left">{{ photo.user }}</span> <span style="float:right">{{ photo.published_date }}</sapn></h5>
        <p class="card-text">{{ photo.description }}</p>
      </div>
    </div>
  {% endfor %}
</body>
</html>
